*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Trirong", sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: url("Book-image2.jpg");
  background-position: center;
  background-size: cover;
}
nav {
  width: 100%;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 8px 16px;
}
nav ul li a,
.cta-btn-1,
.cta-btn-2,
.cta-btn-3 {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 575;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #ffd600;
}
.cta-btn-1,
.cta-btn-2,
.cta-btn-3 {
  padding: 4px 16px;
  background-color: #ffd600;
  border-radius: 8px;
  color: black;
}
.cta-btn-1 {
  margin-right: 16px;
}
.cta-btn-1:hover,
.cta-btn-2:hover,
.cta-btn-3:hover {
  border: 5px double black;
}
.cta-btn-3:hover {
  border-color: #ffd600;
}
.container {
  margin-left: 4%;
  margin-top: 8%;
  max-width: 640px;
  height: 400px;
  padding: 32px 64px;
  background-color: #ffd600;
  opacity: 0.9;
  animation: moveright 2.5s;
  animation-fill-mode: forwards;
  position: relative;
}

.container h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: bolder;
}
.hero-description {
  margin: 8px;
  font-weight: 600;
}
.brand-name {
  font-weight: bolder;
  font-size: 22px;
}
.cta {
  margin-top: 32px;
}
.cta-btn-3 {
  background-color: black;
  color: #ffd600;
  padding: 8px 24px;
  font-size: 20px;
}
@keyframes moveright {
  from {
    left: -600px;
    background-color: transparent;
  }
  to {
    left: 16px;
  }
}
